/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/************************ General CSS *******************************/

@font-face {
  font-family: "vcr_osd_monoregular";
  src: url(assets/vcr_osd_mono_1.001-webfont.woff2) format("woff2"),
    url(assets/vcr_osd_mono_1.001-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

.flex {
  display: flex;
}

/************************ CSS *******************************/

body {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  font-family: "vcr_osd_monoregular";
}

.players {
  gap: 80px;
  margin: 50px 0;
}

.player,
.computer {
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

.scores {
  flex-direction: row;
}

.player-score,
.computer-score {
  font-size: 20px;
}

.choices-container,
.player-choices-container {
  flex-direction: row;
  gap: 30px;
  padding: 10px;
}

.rock-icon::before,
.paper-icon::before,
.scissors-icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font: var(--fa-font-regular);
  font-size: 80px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transition: all 1s;
}

.rock-icon::before {
  content: "\f255";
}

.paper-icon::before {
  content: "\f256";
}

.scissors-icon::before {
  content: "\f257";
}

.rock-icon:hover,
.paper-icon:hover,
.scissors-icon:hover {
  cursor: pointer;
  color: red;
}

.display-results {
  width: 650px;
  border: 6px solid white;
  height: 80px;
  padding: 15px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}

.play-again-btn {
  background-color: black;
  border: 3px solid white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  width: 160px;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.1);
  transition: all 1s;
}

.play-again-btn:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
}
